# URL Google Apps Script Web App untuk autentikasi email pengguna dan pembatasan kuota harian.
# Contoh: https://script.google.com/macros/s/AKfycbxxx.../exec
VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbwzxQmTVWoQ96jYooQNS9q-JDjFCaAfUHlmO-hx9pnYJ8riycA26V52nYsMrigO8AnU/exec
