# URL Google Apps Script Web App untuk autentikasi email pengguna dan pembatasan kuota harian.
# Contoh: https://script.google.com/macros/s/AKfycbxxx.../exec
VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbwcq7HaM6Cu65jtMYqScgiNt4YX7SlYcOv4_I7VG4DEcnEsvyGZOCvwjyoBNGHUYUHo/exec
